absl-py==0.9.0
appnope==0.1.0
argh==0.26.2
asgiref==3.2.7
astor==0.8.1
attrs==19.3.0
backcall==0.1.0
bleach==3.1.4
blis==0.4.1
boto3==1.12.44
botocore==1.15.49
brotlipy==0.7.0
cachetools==4.1.0
catalogue==1.0.0
certifi==2020.4.5.1
cffi==1.14.0
cfgv==3.1.0
chardet==3.0.4
click==7.1.2
ConfigArgParse==1.2.2
coverage==5.1
cryptography==2.9.2
cycler==0.10.0
cymem==2.0.3
decorator==4.4.2
defusedxml==0.6.0
Django==3.0.5
django-crispy-forms==1.9.0
django-debug-toolbar==2.2
django-environ==0.4.5
django-extensions==2.2.9
djangorestframework==3.10.0
docutils==0.15.2
editdistance==0.5.3
elasticsearch==7.6.0
en-core-web-md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-2.2.5/en_core_web_md-2.2.5.tar.gz
entrypoints==0.3
environment==1.0.0
filelock==3.0.12
Flask==1.1.2
fuzzywuzzy==0.18.0
gast==0.2.2
gitdb==4.0.4
GitPython==3.1.1
google-auth==1.14.1
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
grpcio==1.28.1
h5py==2.10.0
html5lib==1.0.1
identify==1.4.14
idna==2.9
importlib-metadata==1.6.0
ipykernel==5.2.1
ipython==7.13.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
itsdangerous==1.1.0
jedi==0.17.0
Jinja2==2.11.2
jmespath==0.9.5
joblib==0.14.1
jsonpath-ng==1.5.1
jsonschema==3.2.0
jupyter-client==6.1.3
jupyter-console==6.1.0
jupyter-core==4.6.3
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.2.0
lxml==4.5.0
Markdown==3.2.1
MarkupSafe==1.1.1
matplotlib==3.2.1
mistune==0.8.4
mkl-service==2.3.0
more-itertools==8.2.0
murmurhash==1.0.0
nbconvert==5.6.1
nbformat==5.0.6
nboost==0.3.5
nlpia-bot==0.0.6.post0.dev13+g4fd8c22
nltk==3.5
nodeenv==1.3.5
notebook==6.0.3
numpy==1.18.1
oauthlib==3.1.0
opt-einsum==3.2.1
packaging==20.1
pandas==1.0.3
pandocfilters==1.4.2
parso==0.7.0
pathtools==0.1.2
patsy==0.5.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.1.2
plac==0.9.6
pluggy==0.13.0
ply==3.11
pre-commit==2.3.0
preshed==3.0.2
prometheus-client==0.7.1
prompt-toolkit==3.0.5
protobuf==3.11.3
psycopg2==2.8.5
ptyprocess==0.6.0
py==1.8.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
Pygments==2.6.1
pyOpenSSL==19.1.0
pyparsing==2.4.7
PyQt5==5.12.3
PyQt5-sip==4.19.18
PyQtWebEngine==5.12.1
pyrsistent==0.16.0
PyScaffold==3.2.3
PySocks==1.7.1
pytest==5.4.1
pytest-cov==2.8.1
python-dateutil==2.8.1
python-memcached==1.59
python-slugify==4.0.0
pytz==2020.1
PyYAML==5.3.1
pyzmq==19.0.0
-e git+git@github.com:dala85/nlpia-bot@4f3284b2e856e4e3abf0940a7e05797bd6635d22#egg=qary
qtconsole==4.7.3
QtPy==1.9.0
regex==2020.4.4
requests==2.23.0
requests-oauthlib==1.3.0
rsa==4.0
s3transfer==0.3.3
sacremoses==0.0.41
scikit-learn==0.22.2
scipy==1.4.1
seaborn==0.10.0
Send2Trash==1.5.0
sentencepiece==0.1.86
seqeval==0.0.12
simpletransformers==0.26.0
six==1.14.0
smmap==3.0.2
spacy==2.2.4
sqlparse==0.3.1
srsly==1.0.2
statsmodels==0.11.1
tensorboard==2.1.1
tensorboardX==2.0
tensorflow==2.1.0
tensorflow-estimator==2.1.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
text-unidecode==1.3
thinc==7.4.0
tokenizers==0.0.11
toml==0.10.0
torch==1.4.0
tornado==6.0.4
tqdm==4.45.0
traitlets==4.3.3
transformers==2.4.1
typing==3.6.4
urllib3==1.25.9
virtualenv==16.7.5
wasabi==0.6.0
watchdog==0.10.2
wcwidth==0.1.9
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
Wikipedia-API==0.5.4
wrapt==1.12.1
zipp==3.1.0